.App {
  text-align: center;
  margin: 0;
  height: 100%;
}

.App-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
  font-size: calc(10px + 2vmin);
  color: rgb(33, 33, 33);
}

.Nav-bar{
  display: flex;
  flex-direction: row;
}